.body {
  background-color: hsl(0, 16%, 94%);
  font-family: "Lato", sans-serif;
}
.container {
  margin: 0 auto;
  max-width: 800px;
}
.section {
  background-color: rgb(255, 255, 255);
  margin-top: 10px;
  padding-bottom: 10px;
  border: 2px solid hsl(0, 6%, 87%);
  word-break: break-word;
}

.section_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid hsl(0, 6%, 87%);
}

.section_header {
  padding-bottom: 5px;
  padding-left: 10px;
}

.section_buttons {
  color: red;
  border: none;
}

.section_form {
  display: flex;
  gap: 10px;
  margin: 10px;
}

@media (max-width: 757px) {
  .section_form {
    display: flex;
    flex-direction: column;
  }
}

.section_input {
  flex: 1;
  padding: 10px;
}
.section_button {
  color: white;
  background-color: teal;
  padding: 10px;
  border: none;
}

.section_button:hover {
  background-color: hsl(180, 100%, 40%);
}

.list__item {
  display: flex;
  align-items: center;
  list-style-type: none;
  margin: 5px 0;
  padding: 10px;
  border-radius: 5px;
  border-bottom: 2px solid hsl(0, 6%, 87%);
}

.doneButton {
  background-color: green;
  border: none;
  margin-right: 10px;
  width: 30px;
  height: 30px;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.doneButton--done {
  background-color: green;
  color: white;
}

.removeButton {
  background-color: red;
  color: white;
  border: none;
  margin-left: 10px;
  padding: 5px 10px;
  border-radius: 3px;
  flex-shrink: 0;
}

.list__itemContent {
  flex-grow: 1;
}

.list__item--done {
  text-decoration: line-through;
}

.js-tasks {
  padding: 10px;
  margin: 0;
}

.section__button--secondary {
  color: teal;
  border: none;
  background-color: white;
}

.section__button--secondary:hover {
  color: hsl(180, 100%, 40%);
}

.section__button--secondary:disabled {
  color: #ccc;
  cursor: not-allowed;
}
