.body {
  background-color: hsl(0, 16%, 94%);
  font-family: "Lato", sans-serif;
}
.container {
  margin: 0 auto;
  max-width: 800px;
}
.section {
  background-color: rgb(255, 255, 255);
  margin-top: 10px;
  padding-bottom: 10px;
  border: 2px solid hsl(0, 6%, 87%);
}
.section_header {
  border-bottom: 2px solid hsl(0, 6%, 87%);
  padding-bottom: 5px;
  padding-left: 10px;
}
.section_inputContainer {
  display: flex;
  gap: 10px;
  margin: 10px;
}
.section_input {
  flex: 1;
  padding: 10px;
}
.section_button {
  color: white;
  background-color: teal;
  padding: 10px;
  border: none;
}
